numpy==1.26.4
pandas==2.2.2
scipy==1.11.4
statsmodels==0.14.2
scikit-learn==1.4.2
pmdarima==2.0.4
prophet==1.1.5
cmdstanpy==1.2.0
holidays==0.41
convertdate==2.4.0
lunarcalendar==0.0.9
plotly==5.22.0
streamlit==1.38.0
